# Build
bin/
obj/
Debug/
Release/

# Rider / IntelliJ
.idea/
*.sln.iml
*.sln.DotSettings.user

# Logs
Logs/
*.log

# Testes
TestResults/

# Configurações locais/sensíveis
appsettings.json
appsettings.Development.json
appsettings.local.json
